body{

   height: 100%;
   margin-top: 0;
   margin-bottom: 0;
   margin-right: 0;
   margin-left: 0;
   
}
 h1{

   font-variant-east-asian: full-width;
   margin-top: 0px;


 }
 h2{
        font-family: Verdana;
        font-size: large;

 }
 h3{

   margin-left:0.2cm ;
    font-family: Verdana;
        font-size: large;


 }
 h4{
   margin-left:0.2cm ;
    font-family: Verdana;
        font-size: large;

 }
 h5{
   margin-left:0.2cm ;
    font-family: Verdana;
        font-size: large;

 }
 h6{

   margin-left:0.2cm ;
    font-family: Verdana;
        font-size: large;
 }
 img{            
      width: 25%;
               

 }

 #um{
     width: 15%;

 }
 #dois{

     width: 15%;
 }
 p{

     font-size: medium;
     font-family: Arial;
     margin: 0;
 }
 
 li{

      
      text-align: left;
      font-family: Arial;
 }
 #salve{


    color: blue;

 }
 #oii{


     color: blue;
 }
 #git{

   margin-left:0.2cm ;

    font-size: medium;
     font-family: verdana;
   

 }
 #neymito{

   padding-left: 10px;
   padding-top: 20px;
    height: 200px;
    width: 15%;
   align-content: center;
   margin-left: 22cm;

 }
 header h1{
    margin-left:0.2cm ;
   margin-top: 0px;
   background-color: blue(115, 255, 0);
 }

 section{

    margin: 0px;

 }

 section h2{
   margin-left:0.2cm ;
   margin-top: 0;
 }
 h2{
   margin-left:0.2cm ;
   margin-top: 0;
 }
 #margin{

   margin: 0;
 }
#margin2{

   margin: 0;
}
#margin3{
   margin-left:0.2cm ;
   margin: 0;
}
#margin4{
  
   margin: 0;
}
footer {
   display: flex;
   justify-content: space-around;
   margin: 0;
   background-color: darkgray;
}
#logoGit{

      width: 30%;
      height: 100px;
     
}
#logoface{

   width: 50%;
   height: 100px;
}
div{

   background-color: darkgray;
   text-align: center;
}


 
